* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
           url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'SegoeUIEmoji';
    src: url('../fonts/SegoeUIEmoji/SegoeUIEmoji.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUIEmoji/SegoeUIEmoji.woff') format('woff'), url('../fonts/SegoeUIEmoji/SegoeUIEmoji.ttf')  format('truetype'), url('../fonts/SegoeUIEmoji/SegoeUIEmoji.svg#SegoeUIEmoji') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaRoundedLT-Black';
    src: url('../fonts/HelveticaRoundedLT-Black/HelveticaRoundedLT-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaRoundedLT-Black/HelveticaRoundedLT-Black.otf')  format('opentype'),
           url('../fonts/HelveticaRoundedLT-Black/HelveticaRoundedLT-Black.woff') format('woff'), url('../fonts/HelveticaRoundedLT-Black/HelveticaRoundedLT-Black.ttf')  format('truetype'), url('../fonts/HelveticaRoundedLT-Black/HelveticaRoundedLT-Black.svg#HelveticaRoundedLT-Black') format('svg');
    font-weight: normal;
    font-style: normal;
  }

// font-family: 'Montserrat', sans-serif;
// font-family: 'MyriadPro', sans-serif;

.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;    
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 31px;
    color: #002e5b;
    text-transform: uppercase;  
    line-height: 1.1;          
}
h5 {
    font-family: 'SegoeUIEmoji', sans-serif;
    font-size: 21px;
    color: #666666;
    line-height: 1.4;
}
.text-discription {
    font-family: 'MyriadPro', sans-serif;
    font-size: 16px;
    color: #333333;
    margin-bottom: 7px;
    line-height: 1.5;
}

.take-a-tour-link {
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #002e5b;
    border-bottom: 2px solid #002e5b;
    &:hover {
        color: #fde428;
        border-bottom: 2px solid #fde428;
        transition: all .3s ease-out;
    }
}

header {
    background: url('../img/header-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    .container {
        flex-direction: column;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #002e5b;
        opacity: .5;
        z-index: -2;
    }
}
#header-top {
    animation: header-show-anim 1s ease-out;
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
    #logo {
        font-weight: 700;
        .company-name {
            font-size: 45px;
            color: #fde428;
        }
        .tagline {
            margin-left: 4px;
            font-size: 12px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 3.8px;
        }
    }
    .menu-button {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 670px;
        position: relative;        
        a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 14px;
            color: white;
            &:hover {
                color: #fde428;
                transition: all .3s ease-out;
                
                
            }
        }
        
        #language-label {
            // display: none;
            position: relative;
            right: 15px;
            width: 35px;
            height: 35px;
            background: url('../img/eng-flag.png') no-repeat;
            background-size: contain;
            cursor: pointer;
            margin-left: 5px;
            
            &::after {
                content: '';
                position: absolute;
                left: 40px;
                top: 15px;                
                border: 5.5px solid transparent;
                border-top: 5px solid white;
            }            
        }
        #lang-menu {
            display: none;
            position: absolute;
            top: 35px;
            right: 15px;            
            flex-direction: column;
            &:hover {
                animation: rotate-anim .5s ease-out;
            }

        }
        #language {
            display: none;
            &:checked ~ #lang-menu {
                display: flex;
                animation: rotate-anim .5s ease-in;
            }
        }
        .flag {
            width: 35px;
            height: 35px;            
            cursor: pointer;
            margin-top: 10px;
        }
        #eng-flag {            
            background: url('../img/eng-flag.png') no-repeat;  
            background-size: contain;
        }
        #ger-flag {            
            background: url('../img/ger-flag.png') no-repeat;     
            background-size: contain;       
        }
    }
}
.menu-button {
    display: none;
    position: relative;
    #drop-down-button-chck {
        display: none;
        &:checked ~ #drop-down-menu {
            display: flex;
            animation: drop-down-anim .3s ease-out;
        }                
    }

    #drop-down-button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        
    }
    #drop-down-menu {
        display: none;
        // display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        right: 30px;
        top: 0;
        z-index: 1000;
        a { 
            display: flex;
            width: 200px;
            height: 45px;
            color: white;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to right, rgba(50, 125, 198, .4), rgba(50, 125, 198, .8),rgba(50, 125, 198, .4));
            border-top: 1px solid #24629d;
            border-bottom: 1px solid #24629d;
            &:hover {
                animation: anim-menu-item .3s cubic-bezier(.43, .57, .52, 1);
                background: linear-gradient(to right, rgba(50, 125, 198, .9) 0%, rgba(50, 125, 198, 1),rgba(50, 125, 198, .9) 100%);               
                // transition: all .5s;
            }
        }
    }
    #drop-down-language {
        display: none;
        &:checked ~ #drop-d-lang-menu {
            display: block;
            animation: drop-down-anim .3s ease-out;
        }
    }
    #drop-down-language-label {
        display: flex;
        width: 200px;
        height: 45px;
        color: white;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgba(50, 125, 198, .4), rgba(50, 125, 198, .8),rgba(50, 125, 198, .4));
        border-top: 1px solid #24629d;
        border-bottom: 1px solid #24629d;                
        cursor: pointer;
        &:hover {
            animation: anim-menu-item .3s cubic-bezier(.43, .57, .52, 1);
            background: linear-gradient(to right, rgba(50, 125, 198, .9) 0%, rgba(50, 125, 198, 1),rgba(50, 125, 198, .9) 100%);
        }
    }
    #drop-d-lang-menu {
        display: none;
        position: absolute;
        right: 200px;
        bottom: -50px;
    }
}

#slider {
    animation: slider-show-anim 2s ease-out;    
    input {
        display: none;
    }
    margin-top:220px;
    margin-bottom: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 380px;
    position: relative;
    z-index: 0;
    .overflow {
        overflow: hidden;
        width: 528px;
        height: 400px;
    }
    .slides {
        width: 300%;
        display: flex;
        margin-top: 100px;
    }
    #slide-1:checked ~ .overflow>.slides {
        margin-left: 0;
        transition: all .5s cubic-bezier(.96, 0, .58, 1);
    }
    #slide-2:checked ~ .overflow>.slides {
        margin-left: -100%;
        transition: all .5s cubic-bezier(.96, 0, .58, 1);
    }
    #slide-3:checked ~ .overflow>.slides {
        margin-left: -200%;
        transition: all .5s cubic-bezier(.96, 0, .58, 1);
    }
    
    #slide-1:checked ~ .slider-nav>label:nth-child(2),
    #slide-2:checked ~ .slider-nav>label:nth-child(3),
    #slide-3:checked ~ .slider-nav>label:nth-child(1) {        
        display: block;
        position: absolute;
        right: 0;
        width: 25px;
        height: 30px;
        background: url('../img/next-slider-arr.png') no-repeat;
        cursor: pointer;
    }

    #slide-1:checked ~ .slider-nav>label:nth-child(3),
    #slide-2:checked ~ .slider-nav>label:nth-child(1),
    #slide-3:checked ~ .slider-nav>label:nth-child(2) {
        display: block;        
        position: absolute;
        left: 0;
        width: 25px;
        height: 30px;
        background: url('../img/prev-slider-arr.png') no-repeat;
        cursor: pointer;
    }
    

    .slider-nav {
        color: #fde428;
        width: 200px;
        height: 30px;
        position: relative;
        text-align: center;
        #nav-text {
            color: #fde428;
            font-family: 'Montserrat', sans-serif;
            font-size: 12.5px;
            text-transform: uppercase;
            text-decoration: none;            
        }
        a {
            color: #fde428;
            font-family: 'Montserrat', sans-serif;
            font-size: 12.5px;
            text-transform: uppercase;
            text-decoration: none; 
            margin: 0 8px;
        }        
    }
    .activities {
        margin-right: 235px;
        margin-left: 8px;
        width: 285px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        &::before {
            content: '';
            position: absolute;  
            right: -235px;
            top: -98px;          
            width: 300px;
            height: 380px;
            border: 10px solid #fde428;
            z-index: -1;        
            border-left: 10px solid transparent;
        }
        &::after {
            content: '';
            position: absolute; 
            right: -225px;
            top: -98px;
            width: 300px;
            height: 400px;
            border: 10px solif transparent;
            border-left: 10px solid #fde428;
            border-image: linear-gradient(#fde428 26%, rgba(0,0,0,0) 26%, rgba(0,0,0,0) 63%, #fde428 63%, #fde428 69%,  rgba(0,0,0,0) 69%, rgba(0,0,0,0) 78%, #fde428 78%) 10;
            z-index: -1;
        }    
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 51px;
            color: white;
            text-align: right;
            margin-bottom: 35px;
        }

        a {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 21px;
            color: #fde428;
            &:hover {
                color: white;
                transition: all .3s ease-out;
                
            }
        }
    }
}

.cntr-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

#no-risk {  
    .container {        
        position: relative;
        justify-content: space-between;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 115px;
            width: 270px;
            height: 100%;
            background-color: #fde52c;
            z-index: -1;
        }
    }
    .content {
        width: 566px;
        // height: 324px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    .no-risk-image {
        width: 500px;
        flex-basis: 500px;
        height: 330px;
        background: #a1a1a1 url('');
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }    
}

#graph {
    background-color: #f4f4f4;
    .container {
        justify-content: space-between;        
        .graph-img-container {
            width: 45%;
            background: url('../img/graph-img.png') no-repeat;
            background-size: contain;
            
        }
        .graph-content-text {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}
#looking-consultant {    
    background-color: #002e5b;
    .container {        
        justify-content: space-between;
        align-items: center;        
    }
    p {
        font-size: 21px;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    #contact-now-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 23px 0;
        width: 160px;
        height: 44px;
        background-color: #fde428;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: #002e5b;
        text-decoration: none;
        text-transform: uppercase;

    }
}
#popular-services {
    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    h3 {
        margin-bottom: 30px;
    }
    h5 {
        display: block;
        width: 530px;
        text-align: center;
        margin-bottom: 40px;
    }
    .services {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        .sevice-item {
            width: 370px;            
            .s-img-1 {
                background-color: #69d2e7;
            }
            .s-img-2 {
                background-color: #add478;
            }
            .s-img-3 {
                background-color: #f49f77;
            }
            .service-img {
                width: 370px;
                height: 190px;
            }
            .service-name {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 21px;
                color: #002e5b;   
                margin-top: 40px;             
            } 
            .text-discription {
                margin-top: 40px;
            }           
        }
    }
}
#statistics {
    background-color: #002e5b;
    .container {
        justify-content: space-around;        
    }
    .statistics-item {
        margin: 135px 0;
        .stat-value {
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 25px;
            text-align: center;
        }
        .stat-discription {
            font-family: 'SegoeUIEmoji', sans-serif;
            color: white;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
        }
    }
}
#why-we {
   .container {
       position: relative;
       justify-content: space-between;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 115px;
        width: 270px;
        height: 100%;
        background-color: #fde52c;
        z-index: -1;
    }
    #front-end-video {
        width: 500px;
    }
    .why-we-text {
        width: 570px;
        h3 {
            margin-bottom: 20px;
            line-height: 1;
        }
        h5 {
            margin-bottom: 20px;
        }
        .text-discription {
           margin-bottom: 35px;
        }
        .our-service-link {
            padding-top: 35px;
            padding-bottom: 2px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            color: #002e5b;
            border-bottom: 2px solid #002e5b;
            &:hover {
                color: #fde52c;
                border-bottom: 2px solid #fde52c;      
                transition: all .3s ease-out;         
            }
        }
    }
   } 
}
#citation {
    background-color: #002e5b;
    color: white;
    .container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .bracket {
        font-family: 'HelveticaRoundedLT-Black', sans-serif;
        font-size: 48px;
        color: white;
    }
    .citation-text {
        font-family: 'MyriadPro', sans-serif;
        font-size: 20px;
        line-height: 40px;
        width: 900px;
        text-align: center;
        margin-top: 40px;
    }
    #citation-autor {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 75px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: -30px;
            bottom: 0px;
            width: 20px;
            height: 100%;
            border-bottom: 2px solid white;
            transform: translate(0, calc(-50% + 2px));
        }
        &::after {
            content: '';
            position: absolute;
            right: -30px;
            bottom: 0px;
            width: 20px;
            height: 100%;
            border-bottom: 2px solid white;
            transform: translate(0, calc(-50% + 2px));
        }
    }
}

#contact-us {
    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .contact-desc {
        width: 530px;
        margin-top: 25px;
        text-align: center;
    }
    .contact-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 45px;
    }
    .contact-item {
        width: 370px;
    }
    .contact-item-map {
        width: 100%;
        height: 240px;
    }
    
    .contact-item-text {
        margin-left: 37px;
        .cont-itm-h {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #002e5b;
            text-transform: uppercase; 
            margin-top: 42px;           
        }
        & > div {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 18px;
            font-family: 'SegoeUIEmoji', sans-serif;
            color: #002e5b;
            width: 200px;
            img {
                margin-right: 22px;
            }
        }
        .phone-number, .email {
            align-items: center;
        }
    }
}
footer {
    background-color: #002e5b;
    .container {
        justify-content: space-between;
        align-items: center;
    }
    .copyright {
        margin: 30px 0;
        & > p {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: white;
            & > span {
                color: #fde52c;
            }
        }
    }
    
}

@media only screen and  (max-width: 1225px) {
    .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;        
    }
    #no-risk {
        .container {
            &::after {
                right: 11%;
                width: 23%;
            }
        }
    }
    #graph {
        .container {
            .graph-img-container, .graph-content-text { 
                width: 49%;
            }
        }        
    }
    #popular-services {
        .services {
            .sevice-item {
                width: 30%;
                .service-img {
                    width: 100%;
                    height: 190px;
                }
            }
            
        }
    }
    #why-we {
        .container {            
            &::after {
                left: 13%;
                width: 23%;
            }
            #front-end-video, .why-we-text {
                width: 47%;

            }  
        }          
    }
    #citation {
        .citation-text {
            width: 100%;
        }
    }
    #contact-us {
        .contact-item {
            width: 32%;
        }
    }
}
@media only screen and  (max-width: 910px) {
    .cntr-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #header-top {
        .menu {
            width: 70%;
            #lang {
                margin-left: 10px; 
            }
        }
    }
    #slider {
    //    flex-wrap: wrap;
       flex-direction: column;
       margin-left: 10px;
       margin-right: 10px;
       min-height: 430px;
       .slider-nav {
           align-self: flex-start;
       }
    }
    #no-risk {
        .container {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            &::after {
                display: none;                
            }
        }
        .no-risk-image {
            margin-top: 15px;
        }
    }
    #graph {
        .container {
            flex-direction: column;
            align-items: center;
            .graph-img-container {
                height: 50vw;
                width: 60%;
                margin-bottom: 15px;
            }
            .graph-content-text { 
                width: 90%;
            }
        }
    }
    #why-we {
        .container {  
            flex-direction: column;
            align-items: center;          
            &::after {
                display: none;
            }
            #front-end-video {
                width: 80%;
                height: 40vw;
                margin-bottom: 15px;
            } 
            .why-we-text {
                width: 80%;
            }  
        }          
    }
    #contact-us {
        .contact-info {
            flex-direction: column;
            align-items: center;
        }
        .contact-item {
            width: 90%;
            
            margin-bottom: 15px;
        }
    }

}

@media only screen and  (max-width: 740px) {
    #header-top {
        .menu {
            display: none;
        }
        .menu-button {
            display: block;             
        }            
    }


    

    #slider {
        margin-top:20px;
    margin-bottom: 110px;
    }
    #no-risk {
        .content {
            width: 90%;
        }
        .no-risk-image {
            width: 90%;
            flex-basis: 80vw;;
        }
    }
    #popular-services {
        h5 {
            width: 90%;
        }
       .services {
           flex-direction: column;
           align-items: center;
           .sevice-item {
               width: 95%;
               display: flex;
               flex-direction: column;
               align-items: center;
               .service-img {
                   width: 80%;
               }
               .service-name {
                   margin-top: 20px;
               }
               .text-discription  {
                margin-top: 20px;
                margin-bottom: 30px;
               }
           }
       }
    }
}

@media only screen and  (max-width: 550px) {
    .menu-button #drop-d-lang-menu {
        bottom: -90px;
        right: 0;
    }
    #slider {
        height: 180px;
        margin-bottom: 50px;
        .overflow {
            width: 300px;
        }
        .activities {
            align-self: flex-end;
            margin-right: 50px;
            width: 285px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            &::before {
            display: none;
            }
            &::after {
                display: none;
            }    
            h2 {
                font-size: 40px;
                margin-bottom: 25px;
            }

            a {            
                font-size: 18px;            
            }
        }
    }
    h3 {        
        font-size: 26px;        
    }
    h5 {       
        font-size: 16px;       
    }
    #looking-consultant {    
        p {
            font-size: 16px;            
        }
        #contact-now-button {           
            font-size: 14px;    
        }
    }
    #statistics {  
        .container {
            flex-direction: column;
            padding: 15px;
        }     
        .statistics-item {
            margin: 10px 0;
            .stat-value {
                
                font-size: 40px;                
                margin-bottom: 15px;                
            }
            .stat-discription {               
                font-size: 14px;                
            }
        }
    }
    #why-we {
        .container {
          
         .why-we-text {             
             h3 {
                 margin-bottom: 10px;               
             }
             h5 {
                 margin-bottom: 10px;
             }
             .text-discription {
                margin-bottom: 25px;
             }
             .our-service-link {
                padding-top: 20px;                 
             }
            }
        } 
    }
    #citation {
       .bracket {            
            font-size: 40px;            
        }
        .citation-text {            
            font-size: 16px;
            line-height: 30px;            
            margin-top: 20px;
        }
        #citation-autor {           
            
            margin-top: 60px;
            
            
            
        }
    }
    #contact-us {        
        .contact-desc {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }
        .contact-info {           
            margin-top: 30px;
        }
                
        .contact-item-text {
            margin-left: 5%;            
        }
    }
}

@keyframes anim-menu-item {
    0% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 30%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 70%);       
    }
    5% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 28%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 72%);
    }
    10% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 26%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 74%);
    }
    15% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 24%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 76%);
    }
    20% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 22%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 78%);
    }
    25% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 20%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 80%);
    }
    30% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 18%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 82%);
    }
    35% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 16%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 84%);
    }
    40% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 14%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 86%);
    }
    45% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 12%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 88%);
    }
    // !!!
    50% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 10%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 90%);
    }
    55% {
        background: linear-gradient(to right, rgba(50, 125, 198, .4) 9%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .4) 91%);
    }
    60% {
        background: linear-gradient(to right, rgba(50, 125, 198, .5) 8%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .5) 92%);
    }
    65% {
        background: linear-gradient(to right, rgba(50, 125, 198, .5) 7%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .5) 93%);
    }
    70% {
        background: linear-gradient(to right, rgba(50, 125, 198, .6) 6%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .6) 94%);
    }
    75% {
        background: linear-gradient(to right, rgba(50, 125, 198, .6) 5%, rgba(50, 125, 198, .8) 50%,rgba(50, 125, 198, .6) 95%);
    }
    80% {
        background: linear-gradient(to right, rgba(50, 125, 198, .7) 4%, rgba(50, 125, 198, .9) 50%,rgba(50, 125, 198, .7) 96%);
    }
    85% {
        background: linear-gradient(to right, rgba(50, 125, 198, .7) 3%, rgba(50, 125, 198, .9) 50%,rgba(50, 125, 198, .7) 97%);
    }
    90% {
        background: linear-gradient(to right, rgba(50, 125, 198, .8) 2%, rgba(50, 125, 198, 1) 50%,rgba(50, 125, 198, .8) 98%);
    }
    95% {
        background: linear-gradient(to right, rgba(50, 125, 198, .8) 1%, rgba(50, 125, 198, 1) 50%,rgba(50, 125, 198, .8) 99%);
    }
    
    100% {
        background: linear-gradient(to right, rgba(50, 125, 198, .9) 0%, rgba(50, 125, 198, 1) 50%,rgba(50, 125, 198, .9) 100%);
    }

}

@keyframes rotate-anim {
    0% {
        transform: rotateX(-180deg); 
        transform-origin: center top; 
        opacity: 0;   
    }    
    100% {
        transform: rotateX(0deg); 
        transform-origin: center top; 
        opacity: 1; 
    }
}
@keyframes drop-down-anim {
    0% {
        transform: scale(0) rotateZ(-180deg); 
        transform-origin: right top; 
        opacity: 0;   
    }
    100% {
        transform: scale(1.05) rotateZ(-0deg); 
        transform-origin: right top; 
        opacity: 1;
    }
}
@keyframes header-show-anim {
    0% {
        transform: translate3d(-200%, 0, 0);
    }
    80% {
        transform: translate3d(20%, 0, 0);
    }
    90% {
        transform: translate3d(-30%, 0, 0);
    }
    100% {
        transform: translate3d(0%, 0, 0);
    }
}
@keyframes slider-show-anim {
    0% {
        transform: scale3d(0,0,0);
        transform-origin: center center;
    }
    100% {
        transform: scale3d(1,1,1);
        transform-origin: center center;
    }
}