* {
    box-sizing: border-box;
    
}

input, textarea, button {outline:none;}



header {
    width: 100%; height: 800px;
    background: url('img/header_background.jpg') right top no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: relative;
    z-index: 0;

}

header::after {
    content: '';
    width: 100%; height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(59, 67, 76, .93);
    z-index: -1;

}

.container {
    width: 1170px; height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 50px 15px;
}


header .container {    
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#menu {
    display: flex;
    width: 90px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    padding-left: 29px;
}


.midle-header {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 70px;
    font-weight: 800;
    line-height: 80px;
}

h5 {
    font-size: 25px;
    line-height: 40px;
}

.orange {
    color: #f7600e;
}

.header-buttons-block {
    width: 448px;    
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
}

.header-button {
    display: flex;
    width: 210px; height: 50px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    justify-content: center;
    align-items: center;
}

.header-button:hover {
    background: #f7600e;
    border-radius: 10px;
    transition: all .3s;
}

#services {
    width: 100%; height: 500px;

}

#services > .container {
    justify-content: space-between;
    align-items: center;
   
}

.service {
    width: 275px;
    padding: 0 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.service-img {
    margin-bottom: 45px;
}

.service-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
}

.service h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
}

.service p {
    font-size: 14px;    
}

.newsletter {
    width: 100%; height: 250px;
    background: url('img/subscribe-background.jpg') center/cover no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 0;

}

.newsletter::after {
    content: '';
    width: 100%; height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(59, 67, 76, .93);
    z-index: -1;

}


.newsletter > .container {
    justify-content: center;
    align-items: center;
}

#email-imp {
    width: 560px; height: 50px;
    border-radius: 8px;
    border: none;
    font-weight: 200;
    color: #3b434c;
    padding-left: 25px;
    margin: 14px;
}

#subscribe-btn {
    width: 268px; height: 50px;
    font-weight: 600;
    color: white;
    background: #f7600e;
    border-radius: 8px;
    margin: 14px;
    border: none;
}

.our-works {
    width: 100%; height: 1300px;
}

.our-works > .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.our-works  h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
}

.our-works  p {
    line-height: 30px;
}

.our-works-text {
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    text-align: center;
}

.portfolio {
    width: 100%; height: 60%;
    display: flex;
    flex-wrap: wrap;    
    align-content: center;
}

.portfolio > .portfolio-img {
    width: 350px; height: 350px;
    margin: 14px;
    border-radius: 10px;
    position: relative;
}

.porfolio-after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    background-color: rgba(233,94,19,.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;    
}

.porfolio-after > h5 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}

.porfolio-after > p {    
    font-size: 14px;
    text-align: center;
}

.porfolio-after > a {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px; height: 50px;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.porfolio-after > a:hover {
    color: #f9884a;
    background-color: white;
    transition: all .3s;
}


.porfolio-after:hover {
    opacity: 100;
    transition: all .3s;
}

.p-img-1 {
    background: url('img/portfolio-img-1.jpg') center no-repeat;
    background-clip: padding-box;
}

.p-img-2 {
    background: url('img/portfolio-img-2.jpg') left no-repeat;
}

.p-img-3 {
    background: url('img/portfolio-img-3.jpg') left no-repeat;
}

.p-img-4 {
    background: url('img/portfolio-img-4.jpg') center no-repeat;
}

.p-img-5 {
    background: url('img/portfolio-img-5.jpg') bottom left no-repeat;
    background-position-x: -60px;
}

.p-img-6 {
    background: url('img/portfolio-img-6.jpg') left no-repeat;
    background-position-x: -60px;
}

.show-more-btn {
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: flex;
    width: 210px; height: 50px;
    text-decoration: none;
    font-weight: 600;    
    justify-content: center;
    align-items: center;
}

.show-more-btn:hover {
    background: #f7600e;
    border-radius: 10px;
    color: white;
    transition: all .3s;
}

.client {
    height: 500px;
    background: url('img/client-background.jpg') bottom right no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    position: relative;    
    z-index: 0;
}

.client .container {
    width: 1320px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.client::after {
    content: '';
    width: 100%; height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(59, 67, 76, .93);
    z-index: -1;
}

.client-info {
    width: 800px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

.client-avatar {
    margin-bottom: 30px;
    -webkit-clip-path: circle(45% at 50% 44%);
    clip-path: circle(45% at 50% 44%);
}

.client-info > p {
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
}

.client-info > h6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 60px;
}

.our-team {
    width: 100%; height: 1000px;
}

.our-team  .container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.team-text {
    text-align: center;
    width: 490px;
}

.our-team  h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
}

.our-team  p {
    line-height: 30px;
}

.team-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.team-item {
    width: 230px; height: 460px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

[class^="team-avatar"] {
    width: 230px; height: 280px;
    border-radius: 10px;
    filter: grayscale(100%);
}

[class^="team-avatar"]:hover {
    transform: scale3d(1.1, 1.1, 1.1) translate(0, -10px);    
    transition: all .4s;
    filter: none;
    position: relative;
}

[class^="team-avatar"]:hover::after {
    content: '';
    position: absolute;
    left: 0; bottom:  0;
    height: 6px; 
    width: 100%;
    background: #f7600e;
    border-radius: 30px;
    /* transition: all .3s; */
    animation: growth .2s linear;
}

.team-avatar-1 {
    background: url('img/team-avatar-1.jpg') no-repeat;
    background-position-x: -15px;
}

.team-avatar-2 {
    background: url('img/team-avatar-2.jpg') no-repeat;
    background-position-y: -3px;
    background-position-x: -15px;
}

.team-avatar-3 {
    background: url('img/team-avatar-3.jpg') no-repeat;
    background-position-x: -20px;
}

.team-avatar-4 {
    background: url('img/team-avatar-4.jpg') no-repeat;
    background-position-x: -15px;
}

.social-box {
    width: 105px; height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-item h5 {
    /* line-height: 60px; */
    font-size: 25px;
    font-weight: 600;
    color: #3b434c;
}

.team-item p {
    font-size: 13px;
    color: #3b434c;
    line-height: 24px;
}

.nav-team-bottom {
    display: flex;
    width: 115px;
    height: 16px;
    justify-content: space-around;
    align-items: center;
}

.nav-team-bottom a {
    display: block;
    width: 12px; height: 12px;
    border-radius: 50%;
    background-color: #c4c6c9;
    position: relative;
}

.nav-team-bottom a:hover {    
    width: 14px; height: 14px;    
    background-color: #f7600e;
    transition: all .3s;    
}

.say-hello {
    height: 800px;  
    background: url('img/contact-background.jpg') bottom right no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    position: relative;    
    z-index: 0;
    font-family: 'Open Sans', sans-serif;
}

.say-hello::after {
    content: '';
    width: 100%; height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(59, 67, 76, .7);
    z-index: -1;
}

.say-hello  .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.say-hello-text {
    text-align: center;
    width: 467px;
    color: white;
}

.say-hello  h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 70px;
    
}

.say-hello  p {
    line-height: 30px;
}

.input-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 832px;
}

.input-form > input {
    width: 400px; height: 50px;
    color: #3b434c;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}

.input-form > input::placeholder {
    color: #3b434c;
}

.input-form > textarea {
    width: 100%; height: 200px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    color: #3b434c;
    resize: none;
    margin-bottom: 30px;    
}

.input-form > textarea::placeholder {
    color: #3b434c;
}

#hire-us-btn {
    font-family: 'Open Sans', sans-serif;
    color:white;
    display: flex;
    width: 210px; height: 50px;
    text-decoration: none;
    font-weight: 600;    
    justify-content: center;
    align-items: center;
    background-color: #f7600e;
    border-radius: 10px;
    border: none;
}

.social-box-big {
    width: 295px;
    display: flex;
    justify-content: space-between;
}

footer {
    background: #3b434c;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

footer > .container {
    justify-content: space-between;
    align-items: center;   
}

.symu-box > a {
    align-self: flex-end;
}
.symu-box img {
    height: 14px;
}

.symu-box {
    width: 186px; height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}

@media only screen and (max-width: 1170px) {
    header {
        height: 600px;
     }

    .container {
        width: 100%;
        padding: 20px 15px;
        
    }
    
    .client .container {
        width: 100%;
        padding: 20px;
    }

    .our-works {
        height: 100%;
    }

    .our-works > .container {
        padding: 20px;
    }

    .our-team > .container {
        padding: 20px;
    }

    .team-block {
        margin: 15px 5px;
    }

    .our-team {
        height: 100%;
    }

    .portfolio {
        height: 100%;
        justify-content: center;
        margin: 10px;
       
    }
    .say-hello {
        height: 100%; 
    }
    .say-hello  .container {
        padding: 20px;
    }
    
}

@media only screen and (max-width: 1024px) {
    
    .portfolio > .portfolio-img {
        width: 250px; height: 250px;
    }

    .porfolio-after > h5 {       
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .porfolio-after > p {    
        font-size: 14px;
        line-height: 1;        
    }
    .porfolio-after > a {
        
        width: 80%; 
    }

    .team-block {
        flex-wrap: wrap;
        margin: 10px 5px;
        
    }

    .team-item {
        width: 40%;
        margin: 15px 5px;
    }

}

@media only screen and (max-width: 940px) {
    header h5 {
        font-size: 20px;
    }

    #services {
        height: 100%;
        padding: 15px;
    }
    #services > .container {
        padding-bottom: 15px;
    }

    .service {
        padding: 0 5px;
        vertical-align: top;
    }

    .service-description {
        vertical-align: top;
    }
    form {
        width: 100%;
    }

    .input-form {
        width: 100%;
    }
    #email-imp {
        width: 60%;
    }
    #subscribe-btn {
        width: 30%; 
    }
    .client-info {
        width: 80%;
        margin: 5px;
    }
    
    .input-form > input {
        width: 45%;
    }
    .our-works-text {
        width: 90%;
    }
    .portfolio > .portfolio-img {
        width: 350px; height: 350px;
    }
    .client {
        height: 100%;
    }
    .client-info > p {
        font-size: 18px;
        line-height: 22px;
    }
    .client-avatar {
        margin-bottom: 10px;
    }
    .team-text {        
        width: 100%;
    }
    .say-hello-text {        
        width: 100%;
    }
}

@media only screen and (max-width: 655px) {
    header h1 {
        font-size: 50px;
    }

    header h5 {
        font-size: 16px;
        line-height: 30px;
    }
    .header-buttons-block {
        width: 100%;
    }
    #logo {
        padding-left: 5px;
    }
    #services > .container {
        flex-wrap: wrap;
    }
    .service {
        width: 45%;
        padding: 10px;
        vertical-align: top;
    }
    .service-img {
        margin-bottom: 25px;
    }
    .service h6 {
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
    }
    
    .service p {
        font-size: 14px;    
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    }
    #email-imp {
        width: 90%;
    }
    #subscribe-btn {
        width: 45%; 
    }
    .team-item {
        width: 45%;
    }
    [class^="team-avatar"] {
        width: 95%; height: 250px; 
        background-position: center top;
    }
    .social-box-big {
        margin: 10px;
    }
    .input-form {
        flex-wrap: wrap;
    }

    .input-form > input {
        width: 100%;
        margin: 5px 0;
    }

    footer p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px) {
    header {
        height: 100%;
     }

     .container {        
        padding: 10px;
     }
     .midle-header {
         margin: 15px 0;
     }
    header h1 {
        font-size: 30px;
        line-height: 40px;
    }

    header h5 {
        font-size: 14px;
        line-height: 25px;
    }
    .header-buttons-block {
        margin-top: 20px;
    }
    .header-button {
        font-size: 14px;
    }
    .circle-arrow-down {
        display: none;
    }
    #menu{
        justify-content: flex-end;
    }

    #menu p {
        display: none;
    }
    .service {
        height: 100%;
    }
    .service-description {
        height: 100%;
    }
    .service-img {
        margin-bottom: 15px;
    }
    .service h6 {
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
    }
    
    .service p {
        font-size: 12px;    
    }
    #email-imp {
        min-width: 255px;
        padding-left: 15px;
    }
    .team-block {
        flex-direction: column;
        align-items: center;
    }
    .team-item {
        width: 90%;
    }
    [class^="team-avatar"] {
        width: 230px; height: 280px;        
    }
    footer .container {
        align-items: flex-start;
    }
    .symu-box {
        flex-wrap: wrap;
    }
}

@keyframes growth {
    0% {width: 0%;}
    100% {width: 100%;}
}