
@font-face {
  font-family: 'SegoeUIEmoji';
  src: url('SegoeUIEmoji.eot?#iefix') format('embedded-opentype'),  url('SegoeUIEmoji.woff') format('woff'), url('SegoeUIEmoji.ttf')  format('truetype'), url('SegoeUIEmoji.svg#SegoeUIEmoji') format('svg');
  font-weight: normal;
  font-style: normal;
}
